body {
    margin: 0;
    box-sizing: border-box;
}

.root {
    margin: 2rem;
}

/* styling the list items */
.list-item {
    display: flex;
    align-items: baseline;
    border: 1px solid #A117F4;
    border-radius: 2rem;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0 0.25rem;
}

.list-item>p:nth-child(1) {
    font-size: 3rem;
    background-color: #A117F4;
    border: 1px solid #A117F4;
    border-radius: 50%;
    padding: 0.5rem;
}

.list-item>p:nth-child(4) {
    background-color: lightblue;
    border-radius: 2rem;
    padding: 0.75rem;
}

/* styling the buttons */
.category-btn {
    text-align: center;
    margin: 2rem;
}

.btn {
    background-color: lightblue;
    border: none;
    padding: 0.75rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0.25rem;
}

.btn:focus{
    background-color: rgb(119, 181, 202);
}

.btn:hover{
    transform: scale(1.2);
}